.itemNombre{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
}
.itemPrecio{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
}
.itemCategoria{
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
}
.itemStock{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}
.itemImg {
    border-radius: 16px;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
}
.itemLink {
    padding: 1.3em ;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffff;
    background-color: #282c34;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.itemLink:hover {
    background-color:#b0defee4 ;
    box-shadow: 0px 15px 20px #D6EAF8 ;
    color: rgb(53, 53, 53);
    transform: translateY(-7px);
}
.itemCategoria{
    text-transform: capitalize;
    font-style: italic;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
}