a{
  list-style: none;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}  
body{
  background-color: #c1ddf0 ;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  background-color: #282c34;
  position: sticky;
  top: 0;
}
.header-nav{
  display: flex;
}
.nav-ul{
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 100%;
  margin: 2rem;
}
.ul-li{
  font-size: 1.8rem;
  font-family: sans-serif;
  color: #ffff;
}
.Icono{
  font-size: 20px;

}
.Icono:hover{
  color: lightblue;
  cursor: pointer;
}
.titulo{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}