.section-products{
    display: flex;
    justify-content: center;
}
.product-container{
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: #282c34;
    justify-content: center;
    border-radius: .7rem;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.product-name{
    color: #ffff;
}
.product-amount{
    color: #ffff;
}
.product-button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    
}
.itemButton{
    width: 5%;
    font-size: 15px;
}
.button-fin{
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: lighter;
    color: black;
    background-color:#F7F9F9 ;
    width: 60%;
    border-radius: .5rem;
    font-weight: bold;
}
