.section-products{
    display: flex;
    justify-content: center;
}
.product-container{
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: #282c34;
    justify-content: center;
    border-radius: 1rem;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.product-name{
    color: #ffff;
}
.product-amount{
    color: #ffff;
}
.product-button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    
}
.button{
    font-size: 15px;
}
.button-fin{
    cursor: pointer;
    color: #ffff;
    background-color:  #6b6b6b ;
    width: 40%;
    border-radius: .6rem;
}
